<div class="leg-title user-action-group" *ngIf="designerOption">
    <div style="margin-bottom: 12px;">
        <!-- Show History Button -->
        <button *ngIf="designerOption.canCheckHistory && !editMode" class="btn btn-sm btn-default clip-board-button pull-right" title="{{'REFERENCE_DATA_DESIGNER_HISTORY' | translate}}"
                (click)="viewHistory()">
            <i aria-hidden="true" class="fa fa-history"></i>
        </button>
        <!-- Edit Button -->
        <button *ngIf="!editMode && !designerOption.historyProfile && designerOption.canEditAndSaveProfile" class="btn btn-sm btn-default clip-board-button pull-right"
                title="{{'REFERENCE_DATA_DESIGNER_EDIT' | translate}}" (click)="editMode = true">
            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
        </button>
        <!-- Close Button -->
        <!-- Currently hide this button-->
        <button *ngIf="false" class="btn btn-sm btn-default clip-board-button pull-right" title="{{'LEAGAL_ENTITY_CLOSE' | translate}}" confirm-modal [title]="" [content]="'Are you sure you want to abandon these changes?'"
                (confirmResult)="onClose($event)">
            <i aria-hidden="true" class="fa fa-close"></i>
        </button>
        <!-- Save Button -->
        <button *ngIf="editMode" class="btn btn-sm btn-default clip-board-button pull-right" title="{{'WORKFLOW_MANAGEMENT_SAVE' | translate}}" (click)="onSave()" [disabled]="profileHasError || accountHasError || !designerOption.canEditAndSaveProfile">
            <i aria-hidden="true" class="fa fa-floppy-o"></i>
        </button>
        <!-- Restore Button -->
        <button *ngIf="!editMode && designerOption.canPersistUser && designerOption.historyProfile"
                class="btn btn-sm btn-default clip-board-button pull-right" title="{{'LEGAL_ENTITY_RESTORE' | translate}}" (click)="editMode = true">
            <i aria-hidden="true" class="fa fa-refresh"></i>
        </button>
        <!-- Expand Button -->
        <button class="btn btn-sm btn-default clip-board-button pull-right" title="{{expandText}}" (click)="onExpand(isExpand = !isExpand)">
            <i aria-hidden="true" class="fa" [ngClass]="{true: 'fa-compress', false: 'fa-expand'}[isExpand]"></i>
        </button>
    </div>
</div>
<div class="user-detail-view">
    <div class="col-md-3 col-xs-12 user-picture-view">
        <user-profile-picture [user]="user" [editMode]="editMode"></user-profile-picture>
    </div>

    <div class="profile-title-tabs col-md-9 col-xs-12">
        <ul class="nav nav-tabs locking-tab-spec">
            <li class="active col-md-2 col-xs-6">
                <a href="#profileDetailsTab" target="_self" data-toggle="tab" class="text-center">{{'PROFILE_PROFILE' | translate}}</a>
            </li>
            <li class=" col-md-2 col-xs-6">
                <a href="#accountTab" target="_self" data-toggle="tab" class="text-center">{{'ACCOUNT' | translate}}</a>
            </li>
            <li class=" col-md-2 col-xs-6">
                <a href="#roleTab" target="_self" data-toggle="tab" class="text-center">{{'ROLES' | translate}}</a>
            </li>
            <li class=" col-md-2 col-xs-6">
                <a href="#groupTab" target="_self" data-toggle="tab" class="text-center">{{'WORKFLOW_MANAGEMENT_GROUPS' | translate}}</a>
            </li>
            <li class=" col-md-2 col-xs-6">
                <a href="#preferenceTab" target="_self" data-toggle="tab" class="text-center" title="">{{'Preferences' | translate}}</a>
            </li>
        </ul>
    </div>

    <div class="profile-title-tab-content col-md-9 col-xs-12">
        <div class="col-md-12">
            <div class="portlet-body tabs-below">
                <div class="tab-content">
                    <div class="tab-pane active in" id="profileDetailsTab">
                        <user-profile-detail
                            [(entity)]="entity"
                            [isExpand]="isExpand"
                            [editMode]="editMode"
                            (hasError)="hasDetailError($event)"
                        ></user-profile-detail>
                    </div>
                    <div class="tab-pane fade" id="accountTab">
                        <user-profile-account
                            [userObj]="user"
                            [isExternalUser]="designerOption.isExternalUser"
                            [editMode]="editMode"
                            [canPersistUser]="designerOption.canPersistUser"
                            [showResetButtons]="designerOption.canResetPassword"
                            [canResetPassword]="canResetPassword"
                            [canResetSecurityPassword]="canResetChallengePassword"
                            (hasError)="hasAccountError($event)"
                        ></user-profile-account>
                    </div>
                    <div class="tab-pane fade" id="roleTab">
                        <user-profile-role
                            [user]="user"
                            [canPersistUser]="designerOption.canPersistUI"
                            [editMode]="editMode"
                            [canEdit]="canEdit"
                        ></user-profile-role>
                    </div>
                    <div class="tab-pane fade" id="groupTab">
                        <user-profile-group
                            [user]="user"
                            [canPersistUser]="designerOption.canPersistUI"
                            [editMode]="editMode"
                            [canEdit]="canEdit"
                        ></user-profile-group>
                    </div>
                    <div class="tab-pane fade" id="preferenceTab">
                        <user-profile-preference
                            [userDetail]="user.userDetailModel"
                            [editMode]="editMode"
                        ></user-profile-preference>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
