.user-action-group {
    height: 45px;
}
.user-detail-view {
    .profile-all-wrapper {
        margin-top: 20px;
    }
    .profile-info-body {
        padding: 15px;
        background-color: #ffffff;
    }
    .profile-title-tabs {
        padding-top: 5px;
        background-color: #fff;
        .nav-tabs {
            margin-bottom: 0px;
            > li > a {
                color: #404040;
                cursor: pointer;
                background-color: #fff;
                border-bottom-color: transparent;
                border: none;
            }
        }
    }
    .profile-title-tab-content {
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .requiredField label:after {
        color: red;
        content: ' *';
        display: inline;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li {
        > a {
            &:focus,
            &:hover {
                color: #000;
                cursor: pointer;
                background: 0 0 !important;
                border-bottom: 4px solid #9fe4ea !important;
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                padding: 12px 13px 13px !important;
                font-size: 13px !important;
            }
        }
        &.active {
            a,
            a:hover,
            a:focus {
                background: 0 0 !important;
                border-bottom: 4px solid #9fe4ea !important;
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                color: #000 !important;
                padding: 12px 13px 13px !important;
                font-size: 13px !important;
            }
        }
    }
    .tab-font {
        font-size: 13px;
    }
    // .profile-save-btn.disabled,
    // .profile-edit-btn.disabled,
    // .profile-close-btn.disabled {
    //     opacity: 0.5;
    //     pointer-events: none !important;
    // }
}
