<div class="profile-info-body">
    <div class="form-group row spbrow data-pointer-row">
        <ul class="list-unstyled group-list">
            <li *ngFor="let group of user.groupList | orderBy:'groupName'">
                <i *ngIf="editMode && canPersistUser && canEdit" class="fa fa-minus-circle" title="Remove" confirm-modal
                [title]="'Remove Group'"
                [content]="'This action will remove the user from the group. Are you sure you wish to continue?'"
                (confirmResult)="removeGroup($event, group)"
                ></i>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{group.groupName}}</span>
            </li>
            <!-- *ngIf="editMode && canPersistUser && canEditRoleGroup" -->
            <li *ngIf="editMode && canPersistUser && canEdit">
                <i class="fa fa-plus-circle" (click)="openGroupModal()"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{'ADD_NEW_GROUP' | translate}}</span>
            </li>
        </ul>
    </div>
</div>
