<div class="profile-info-body">
    <div [formGroup]="accountForm">
        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 requiredField">
                <label class="datafabric-font-style">{{'PROFILE_USERNAME'|translate}}</label>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7"
                 [class.has-error]="accountForm.get('userName').invalid">
                <input formControlName="userName" class="form-control " type="text"
                       *ngIf="editMode && canPersistUser && isExternalUser">
                <span class="datafabric-font-style" *ngIf="(!editMode || !canPersistUser)||(!isExternalUser)">{{accountForm.get('userName').value}}</span>
                <!--<span class="datafabric-font-style has-error"
                      *ngIf="editMode&&canPersistUser&&accountForm.hasError('required','userName')">User name can not be empty.</span>
                <span class="datafabric-font-style has-error"
                      *ngIf="editMode&&canPersistUser&&accountForm.hasError('maxlength','userName')">User name is too long.</span>-->
                <span class="datafabric-font-style has-error"
                      *ngIf="editMode&&canPersistUser&&accountForm.hasError('duplicated', ['userName']) && editMode">{{'USERNAME_EXIST' | translate}}</span>
                <span class="datafabric-font-style has-error"
                      *ngIf="editMode&&canPersistUser&&accountForm.hasError('username', ['userName']) && editMode">{{'USERNAME_INPUT_LIMITED' | translate}}</span>

            </div>
        </div>

        <!--<div class="form-group row spbrow data-pointer-row">-->
            <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
                <!--<label class="datafabric-font-style">{{'NATURAL_PERSON_CHALLENGE_LAST_LOGIN'|translate}}</label>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" [innerHTML]="accountForm.value.lastLogin">-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="datafabric-font-style">{{'NATURAL_PERSON_CHALLENGE_PASSWORD_LAST_UPDATED'|translate}}</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" [innerHTML]="accountForm.value.pwdLastUpdated">
            </div>
        </div>
        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="datafabric-font-style">{{'WORKFLOW_MANAGEMENT_ACTIVE'|translate}}</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <input formControlName="active" class="form-control " type="checkbox" *ngIf="editMode && canPersistUser">
                <span class="datafabric-font-style" *ngIf="!editMode || !canPersistUser">{{accountForm.get('active').value ? 'Yes' : 'No'}}</span>
            </div>
        </div>

        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="datafabric-font-style">{{'NATURAL_PERSON_CHALLENGE_LOCKED'|translate}}</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <input formControlName="locked" class="form-control " type="checkbox" *ngIf="editMode && canPersistUser">
                <span class="datafabric-font-style" *ngIf="!editMode || !canPersistUser">{{accountForm.get('locked').value? 'Yes' : 'No'}}</span>
            </div>
        </div>

        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="datafabric-font-style">{{'NATURAL_PERSON_CHALLENGE_PENDING_ACTIVATION'|translate}}</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <span class="datafabric-font-style">{{renderPendingActivation()}}</span>
            </div>
        </div>

        <div class="row spbrow data-pointer-row">
            <div class="col-xs-12 datafabric-btns-container" *ngIf="showResetButtons">
                <button class="btn datafab-btn-primary" type="button"
                        (click)="openResetPasswordModel()" [translate]="'USER_PROFILE_RESET_PASSWORD'" *ngIf="canResetPassword">
                </button>
                <button class="btn datafab-btn-primary" type="button"
                        (click)="openResetSecurityQuestionsModel()" [translate]="'USER_PROFILE_RESET_SECURITY_QUESTIONS'" *ngIf="canResetSecurityPassword">
                </button>
            </div>
        </div>
    </div>
</div>
