<nb-card>
  <nb-card-header>
    <div class="row">
      <i class="nb-arrow-left float-left task-icon" (click)="cancel()"></i>
    </div>
    <br>
    <div class="row form-group">
      <h1>任务标题</h1>
    </div>
    <i class="nb-edit float-right task-icon"></i>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label>来源:</label>
      <span></span>
    </div>
    <div class="form-group">
      <label>执行人:</label>
      <span></span>
    </div>
    <div class="form-group">
      <label>报告人:</label>
      <span></span>
    </div>
    <div class="form-group">
      <label>状态:</label>
      <span></span>
    </div>
    <div class="form-group">
      <label>描述:</label>
      <ckeditor [readonly]="disabled" [config]="editConfig"></ckeditor>
    </div>
  </nb-card-body>
</nb-card>
