<nb-card *ngIf="taskModel">
  <nb-card-header>
    <div class="row">
      <i class="nb-arrow-left float-left task-icon" (click)="cancel()"></i>
    </div>
    <br>
    <div class="form-group">
      <h1>{{taskModel.taskTitle}}</h1>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label>来源:</label>
      <span>{{taskModel.taskSource}}</span>
    </div>
    <div class="form-group">
      <label>执行人:</label>
      <span>{{executor.userName}}</span>
    </div>
    <div class="form-group">
      <label>报告人:</label>
      <span>{{reporter.userName}}</span>
    </div>
    <div class="form-group">
      <label>状态:</label>
      <span>{{taskModel.taskStatus}}</span>
    </div>
    <div class="form-group">
      <hr>
      <div [innerHTML]="taskModel.taskDescription"></div>
<!--      <ckeditor [value]="taskModel.taskDescription" [readonly]="disabled" [config]="editConfig"></ckeditor>-->
    </div>
  </nb-card-body>
</nb-card>
