<div id="role-management" class="col-xs-12 config-content">
    <ksc-bread-crumbs [data]="breadCrumbData" [breadCrumbsType]="'no-border'" [currentId]="'roleManagement'" (navigate)="onNavigate($event)"></ksc-bread-crumbs>
    <div class="row">
        <div class="col-md-10 col-xs-12 none-horizontal-padding">
            <span class="datafab-page-header-text">{{'ROLE_MANAGEMENT_TITLE' | translate}}</span>
        </div>
        <div class="col-md-2 col-xs-4 add-workflow-div none-horizontal-padding" *ngIf="canPersist">
            <button type="button" class="btn btn-block datafab-btn-primary add-group-btn" (click)="addRole()">{{'WORKFLOW_MANAGEMENT_ADD' | translate}}</button>
        </div>
    </div>
    <div class="content datafab-details-content row">
        <div class="col-md-2 col-xs-12 datafab-details-sidebar">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table order-column table-condensed datafab-items-table datafab-table-hover datafab-table-striped">
                <thead>
                    <tr class="hidden">
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of tableData | orderBy:'roleName'" [ngClass]="{'active-selected-item':(currentRole && currentRole.roleId == role.roleId) }">
                        <td class="text-left" (click)="selectRole(role)" [ngClass]="{'active-role':role.isActive }">
                            {{role.roleName}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-10 none-horizontal-padding datafab-editor-panel role-editor-panel" [hidden]="!displayFlag">
            <div class="row role-management">
                <form [formGroup]="mainFormModel">
                <div class="col-md-10 col-xs-12">
                    <tabset #roleManagementTabs>
                        <tab heading="{{'WORKFLOW_MANAGEMENT_DETAILS'|translate}}">
                            <role-details-component [detailForm]="mainFormModel.get('detailForm')"></role-details-component>
                        </tab>
                        <tab heading="{{'WORKFLOW_MANAGEMENT_PERMISSIONS'|translate}}">
                            <role-permissions-component [permissionList]="mainFormModel.get('permissionList')" [allPermissions]="allPermissions" [canPersist]="canPersist"></role-permissions-component>
                        </tab>
                        <tab heading="{{'WORKFLOW_MANAGEMENT_MEMBERS'|translate}}" (select)="selectTab()">
                            <role-members-component #roleMembersComponent [userList]="mainFormModel.get('userList')"></role-members-component>
                        </tab>
                        <tab heading="{{'WORKFLOW_MANAGEMENT_GROUPS'|translate}}">
                            <role-groups-component [groupList]="mainFormModel.get('groupList')"></role-groups-component>
                        </tab>
                    </tabset>
                </div>
                <div class="col-md-2 col-xs-12 datafabric-btns-container text-right" *ngIf="canPersist">
                    <button class="btn datafab-btn-primary" [disabled]="mainFormModel.invalid" type="button" (click)="save()">
                        {{'WORKFLOW_MANAGEMENT_SAVE' | translate}}
                    </button>
                    <button class="btn btn-default" type="button" (click)="cancel()">
                        {{'DASHBOARD_CANCEL' | translate}}
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
