<nb-card>
  <nb-card-header>
    修改密码
  </nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label>旧密码：</label>
      <input class="form-control col-sm-3" type="text" placeholder="请输入旧密码">
    </div>
    <div class="form-group">
      <label>新密码：</label>
      <input class="form-control col-sm-3" type="text" placeholder="请输入新密码">
    </div>
    <div class="form-group">
      <label>确认密码：</label>
      <input class="form-control col-sm-3" type="text" placeholder="请再次输入新密码">
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-hero-primary float-left">提交</button>
    <button class="btn btn-hero-warning float-left">取消</button>
  </nb-card-footer>
</nb-card>
