<nb-card>
  <nb-card-header>
    修改密码
  </nb-card-header>
  <nb-card-body>
    <div [formGroup]="passwordForm">
      <div class="form-group">
        <label>旧密码：</label>
        <input class="form-control col-sm-3" formControlName="originalPassword" type="text" placeholder="请输入旧密码" (blur)="checkOldPassword()">
        <span class="has-error" *ngIf="passwordForm.get('originalPassword').touched && passwordForm.get('originalPassword').hasError('required')">请输入旧密码</span>
      </div>
      <div class="form-group">
        <label>新密码：</label>
        <input class="form-control col-sm-3" formControlName="newPassword" type="password" placeholder="请输入新密码">
        <span class="has-error" *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').hasError('required')">请输入新密码</span>
      </div>
      <div class="form-group">
        <label>确认密码：</label>
        <input class="form-control col-sm-3" formControlName="confirmPassword" type="password" placeholder="请再次输入新密码">
        <span class="has-error" *ngIf="passwordForm.get('confirmPassword').touched && passwordForm.get('confirmPassword').hasError('required')">请再次输入密码</span>
        <span class="has-error" *ngIf="passwordForm.touched && passwordForm.hasError('noMatch')">两次输入密码不同</span>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="action">
      <button class="btn btn-hero-primary float-left" [disabled]="passwordForm.invalid" (click)="save()">提交</button>
      <button class="btn btn-hero-warning float-left" (click)="cancel()">取消</button>
    </div>
  </nb-card-footer>
</nb-card>
