<nb-card *ngIf="shareModel">
  <nb-card-header>
    <div class="row">
      <i class="nb-arrow-left float-left share-icon" (click)="cancel()"></i>
    </div>
    <br>
    <div class="form-group">
      <h1>{{shareModel.shareTitle}}</h1>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <div [innerHTML]="shareModel.shareContent"></div>
<!--      <ckeditor [value]="shareModel.shareContent" [readonly]="true" [config]="editConfig"></ckeditor>-->
    </div>
  </nb-card-body>
</nb-card>
