<nb-card *ngIf="requirementModel">
  <nb-card-header>
    <div class="row">
      <i class="nb-arrow-left float-left requirement-icon" (click)="cancel()"></i>
    </div>
    <br>
    <div class="form-group">
      <h1>{{requirementModel.requirementTitle}}</h1>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <div [innerHTML]="requirementModel.requirementContent"></div>
<!--      <ckeditor [value]="requirementModel.requirementContent" [readonly]="true" [config]="editConfig"></ckeditor>-->
    </div>
  </nb-card-body>
</nb-card>
