<div [hidden]="tableData.length === 0" class="col-xs-12" style="margin-top:5px">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover datafab-table-hover datafab-table-striped order-column table-condensed ">
        <thead>
            <tr>
                <th>{{'NATURAL_PERSON_LAST_NAME'|translate}}</th>
                <th>{{'NATURAL_PERSON_FIRST_NAME'|translate}}</th>
                <th>{{'PROFILE_EMAIL'|translate}}</th>
                <th>{{'SEARCH_QUERY_SUBSCRIPTION_QUERY_ACCOUNT_STATUS'|translate}}</th>
                <th>{{'SEARCH_QUERY_SUBSCRIPTION_QUERY_EFFECTIVE_DATE'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of tableData; let i=index;">
                <td class="text-center" (mouseenter)="openUserPopover($event, user)">
                    {{user.lastName}}
                </td>
                <td class="text-center">
                    {{user.firstName}}
                </td>
                <td class="text-center">
                    {{user.email}}
                </td>
                <td class="text-center">
                    {{user.isActive?'Active':'Inactive'}}
                </td>
                <td class="text-center">
                    <span *ngIf="user.userDetailModel&&user.userDetailModel.effectiveDate">{{formatDate(user.userDetailModel.effectiveDate)}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<profile-card *ngIf="currentHoverObj" class="user-profile-popover" (closePopover)="closePopover()" [positionY]="positionY" [positionX]="positionX" [currentHoverObj]="currentHoverObj"></profile-card>
