<div id="group-management" class="col-xs-12 config-content">
    <ksc-bread-crumbs [data]="breadCrumbData" [breadCrumbsType]="'no-border'"
                      [currentId]="'groupManagement'" (navigate)="onNavigate($event)"></ksc-bread-crumbs>
    <div class="row">
        <div class="col-md-10 col-xs-12 none-horizontal-padding">
            <span class="datafab-page-header-text">{{"GROUP_MANAGEMENT_TITLE"| translate}}</span>
        </div>
        <div class="col-md-2 col-xs-4 add-workflow-div none-horizontal-padding" *ngIf="canPersist">
            <button type="button" class="btn btn-block datafab-btn-primary add-group-btn" (click)="addGroup()">{{"WORKFLOW_MANAGEMENT_ADD" | translate}}
            </button>
        </div>
    </div>
    <div class="content datafab-details-content">
        <div class="col-md-2 col-xs-12 datafab-details-sidebar">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table order-column table-condensed datafab-items-table datafab-table-hover datafab-table-striped">
                <thead>
                <tr class="hidden">
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let group of tableData | individualColumnFilter: 'groupName' : filterText | orderBy:'groupName'"
                    [ngClass]="{'active-selected-item':selectedGroup && selectedGroup.groupId == group.groupId}">
                    <td class="text-left"
                        (click)="selectGroup(group)">
                        <span [ngClass]="{'in-bold':group.isActive}">{{group.groupName}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-10 none-horizontal-padding datafab-editor-panel">
            <div class="row group-management">

                <div class="col-md-10 col-xs-12" *ngIf="selectedGroup">
                    <tabset #groupManagementTabs>
                        <tab heading="Details">
                            <group-details-component [canPersist]="canPersist" [group]="selectedGroup"></group-details-component>
                        </tab>
                        <tab heading="Members">
                            <group-members-component [canSupervise]="canSupervise" [canPersist]="canPersist" [selectedGroup]="selectedGroup"></group-members-component>
                        </tab>
                        <tab heading="Roles">
                            <group-roles-component [canPersist]="canPersist" [group]="selectedGroup"></group-roles-component>
                        </tab>
                    </tabset>
                </div>
                <div class="col-md-2 col-xs-12 datafabric-btns-container text-right" *ngIf="selectedGroup && canPersist">
                    <button class="btn datafab-btn-primary"
                            [disabled]="!selectedGroup.groupName" type="button"
                            (click)="save()">
                        {{"WORKFLOW_MANAGEMENT_SAVE" |translate}}
                    </button>
                    <button class="btn btn-default" type="button"
                            (click)="cancel()">
                        {{"WORKFLOW_MANAGEMENT_CANCEL" |translate}}
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
