<nb-card>
  <nb-card-header>
    <nav class="navigation">
      <a aria-label="Back" (click)="back()" class="link" href="#">
        <i class="icon nb-arrow-thin-left" style="font-size: 2rem;"></i>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <nb-auth-block style="margin: auto;text-align: center;">
      <h1>登录</h1>
      <p>欢迎使用SmartTeam！工作愉快！</p>
      <form [formGroup]="userForm">
        <div class="form-group">
          <label class="float-left">用户名:</label>
          <input formControlName="username" type="text" nbInput fullWidth shape="semi-round" placeholder="请输入用户名">
        </div>
        <div class="form-group">
          <label class="float-left">密码:</label>
          <input formControlName="password" type="password" nbInput fullWidth shape="semi-round" placeholder="请输入密码">
        </div>
        <div class="form-group">
          <a style="color: #a4abb3;line-height: 50px;font-size: 16px;" class="forgot-password float-right" routerlink="../request-password" href="/ngx-admin/auth/request-password">重置密码</a>
        </div>
        <button class="btn btn-hero-success" style="width: 100%" (click)="login()">登录</button>
      </form>
    </nb-auth-block>
  </nb-card-body>
</nb-card>

