<div class="modal-header">
<button type="button" class="close" (click)="hideModal(false)">×
</button>
<div class="modal-title caption-subject datafab-h6 datafab-font-regular">
    {{'SEARCH_SUBSCRIPTION_SUBSCRIPTION_FOR' | translate}} {{userSettingModel.name}}
</div>
</div>
<div class="modal-body">
    <div class="row spbrow" style="max-height: calc(70vh); overflow-y: auto;">
        <div class="col-xs-12">
            <div [formGroup]="subscriptionFormGroup">
                <div formArrayName="subscription">
                    <div class="form-group row" style="border: 1px solid #EEEEEE; margin: 5px; padding: 15px;" *ngFor="let item of subscriptionFormGroup.controls['subscription']['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div class="form-group row">
                                <div class="col-xs-4 span-horizontal requiredField">
                                    <span>{{'SUBSCRIPTION_APPROACH_TYPE' | translate}}</span>
                                </div>
                                <div class="col-xs-8" [class.has-error]="item.get('subscriptionType').invalid && item.get('subscriptionType').touched">
                                    <select required formControlName="subscriptionType" class="form-control" (change)="onChangeType($event,i)">
                                        <option value="" [selected]="item.get('subscriptionType').value===null ? true : null" [disabled]="true" [hidden]="true">{{'SUBSCRIPTION_APPROACH_TYPE_PLACEHOLDER' | translate}}</option>
                                        <option *ngFor="let subscriptionTypes of subscriptionTypesList" [value]="subscriptionTypes.id" [selected]="subscriptionTypes.id===item.get('subscriptionType').value ? true : null">
                                            {{subscriptionTypes.displayKey}}
                                        </option>
                                    </select>
                                    <span *ngIf="item.hasError('required', 'subscriptionType') && item.get('subscriptionType').touched" class="help-block datafabric-font-style">
                                     {{'SUBSCRIPTION_APPROACH_TYPE_EMPTY_MESSAGE' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="this.selectType[i]==='760001' || item.get('subscriptionType').value==='760001'" class="form-group row">
                                <div class="col-xs-4 span-horizontal requiredField">
                                    <span [translate]="'SEARCH_SUBSCRIPTION_RECIPIENTS'"></span>
                                </div>
                                <div class="col-xs-8" [class.has-error] = "!saveFlag[i] && clicked[i]">
                                    <ksc-select-picker [data]="recipientsList" [options]="selectOptions"
                                                       [type]="multiple" [defaultValue] = "defaultValue[i]"
                                                       [allowClear]="false" [selectClassNames]="'subscription-select'"
                                                       (selected)="valueChanged($event, i)"
                                                       (click)="checkClick($event, i)">
                                    </ksc-select-picker>
                                    <span *ngIf="!saveFlag[i] && clicked[i]" class="help-block datafabric-font-style">
                                        {{'SEARCH_SUBSCRIPTION_RECIPIENTS_IS_ENPTY' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="this.selectType[i]==='760002' || item.get('subscriptionType').value==='760002'" class="form-group row">
                                <div class="col-xs-4 span-horizontal requiredField">
                                    <span>{{'TASK_ASSIGNMENT_EMAIL_LBL_WORKFLOW' | translate}}</span>
                                </div>
                                <div class="col-xs-8" [class.has-error]="item.get('triggeredWorkflow').invalid && item.get('triggeredWorkflow').touched">
                                    <select required formControlName="triggeredWorkflow" class="form-control" >
                                        <option value="" [selected]="item.get('triggeredWorkflow').value===null ? true : null" [disabled]="true" [hidden]="true">{{'SUBSCRIPTION_TRIGGERED_WORKFLOW' | translate}}</option>
                                        <option *ngFor="let workflowDefinitions of workflowDefinitionsList" [ngClass] = "workflowDefinitions.isActive ? null : 'valid'" [value]="workflowDefinitions.id" [selected]="workflowDefinitions.id===item.get('triggeredWorkflow').value ? true : null">
                                            {{workflowDefinitions.name}}
                                        </option>
                                    </select>
                                    <span *ngIf="item.hasError('required', 'triggeredWorkflow') && item.get('triggeredWorkflow').touched" class="help-block datafabric-font-style">
                                        {{'SUBSCRIPTION_TRIGGERED_WORKFLOW_EMPTY_MESSAGE' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-4 span-horizontal requiredField">
                                    <span [translate]="'SEARCH_SUBSCRIPTION_INTERVAL'"></span>
                                </div>
                                <div class="col-xs-8" [class.has-error]="item.get('intervalTypeCode').invalid && item.get('intervalTypeCode').touched">
                                    <select required formControlName="intervalTypeCode" class="form-control">
                                        <option value="" [selected]="item.get('intervalTypeCode').value===null ? true : null" [disabled]="true" [hidden]="true">{{placeholderText}}</option>
                                        <option *ngFor="let interval of intervalList" [value]="interval.id" [selected]="interval.id===item.get('intervalTypeCode').value ? true : null">
                                            {{interval.displayKey}}
                                        </option>
                                    </select>
                                    <span *ngIf="item.hasError('required', 'intervalTypeCode') && item.get('intervalTypeCode').touched" class="help-block datafabric-font-style">
                                        {{'SEARCH_SUBSCRIPTION_INTERVAL_IS_ENPTY' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-4 span-horizontal requiredField">
                                    <span [translate]="'SEARCH_SUBSCRIPTION_START_TIME'"></span>
                                </div>
                                <div class="col-xs-8" [class.has-error]="item.get('effectiveStartDate').invalid && item.get('effectiveStartDate').touched">
                                    <ksc-datetime-picker
                                        [enableUTCConvert]="false"
                                        formControlName="effectiveStartDate"
                                        [placeholderValue]="startTimeTitle"
                                        required
                                        readonly>
                                    </ksc-datetime-picker>
                                    <span *ngIf="item.hasError('required', 'effectiveStartDate') && item.get('effectiveStartDate').touched" class="help-block datafabric-font-style">
                                        {{'SEARCH_SUBSCRIPTION_START_TIME_IS_ENPTY' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-4 span-horizontal">
                                    <span [translate]="'SEARCH_SUBSCRIPTION_END_TIME'"></span>
                                </div>
                                <div class="col-xs-8" [class.has-error]="item.hasError('nomatch')">
                                    <ksc-datetime-picker
                                        [enableUTCConvert]="false"
                                        formControlName="effectiveEndDate"
                                        [placeholderValue]="endTimeTitle"
                                        readonly>
                                    </ksc-datetime-picker>
                                    <span *ngIf="item.hasError('nomatch')" class="help-block datafabric-font-style">
                                        {{'SEARCH_SUBSCRIPTION_END_TIME_IS_INVALID' | translate}}
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-default datafab-btn-primary pull-right"
                                    (click)="removeSubscription(i)" style="margin: 15px;" [disabled]="!hasPermission">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{'SEARCH_SUBSCRIPTION_REMOVE_SUBSCRIPTION' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <button style="margin-top: 10px;" class="btn btn-default datafab-btn-primary pull-right"
                        (click)="addSubscription()" [disabled]="subscriptionFormGroup.invalid || !hasPermission || !isSave">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'SEARCH_SUBSCRIPTION_ADD_NEW_SUBSCRIPTION' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12 datafabric-btns-container text-right">
            <button class="btn datafab-btn-primary" (click)="saveSubscription()" [disabled]="subscriptionFormGroup.invalid || !hasPermission || !isSave"
                [translate]="'SEARCH_SUBSCRIPTION_OK'"></button>
            <button class="btn datafab-btn-secondary" (click)="close()" [translate]="'QUERY_DEFINITION_CANCEL'"></button>
        </div>
    </div>
</div>
