    <div class="row spbrow">
        <div  class="col-xs-12" style="max-height:500px;overflow-y:auto">
            <div class="row">
                <div class="col-xs-12" *ngFor="let permission of permissionList.value | individualColumnSort: 'permissionDesc': 'asc'">
                    <span class="btn" (click)="openRemovePermissionModal(permission)">
                        <i class="fa fa-minus-circle" *ngIf="canPersist">
                        </i>
                        &nbsp;&nbsp;
                        <span class="datafabric-font-style">{{permission['permissionDesc']}}</span>
                    </span>
                </div>
            </div>
            <div class="row" *ngIf="canPersist">
                <div class="col-xs-12">
                    <span class="btn" (click)="openAddPermissionModal()">
                        <i class="fa fa-plus-circle"></i>
                        &nbsp;&nbsp;
                        <span class="datafabric-font-style">
                            {{'GROUP_MANAGEMENT_ADD_NEW_PERMISSION' | translate}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
