<div class="col-xs-12" [hidden]="!showSearchForm">
    <ksc-advance-search-form [filterNumber]="filterNumber" [shownDataSource]="shownDataSource" [isInactiveFilterOption]="isInactiveFilterOption"
        [filterConfig]="filterConfigs" [allowClear]="true" (search)="onSearchClick($event)"></ksc-advance-search-form>
    <div [hidden]="!dtOptions" class="col-xs-12 none-horizontal-padding" style="font-size:14px;margin-top: 6px;border-bottom: 1px inset #eee;padding-bottom: 6px;">
        <span class="pull-left">{{'SEARCH_SEARCH_RESULT' | translate}}</span>
        <a class="pull-right" *ngIf="!hideAddButton" (click)="addUserClick()" [permission-guard]="[{permissionName:Permission.ADD_USER_ACCOUNT}]">{{'ADD_USER' | translate}}</a>
    </div>
</div>

<!-- SEARCH RESULT BEGIN -->
<div class="col-xs-12" *ngIf="dtOptions">
    <ksc-advance-search-result [dtOptions]="dtOptions" [selectConfig]="selectConfig" [facetArray]="facetArray" [defaultShowColumns]="defaultShowColumns" [optionalFilter]="optionalFilter" [showFacetsAndFilters]="showFacetsAndFilters" [showFacets]="showFacets" (checked)="onSelectFacetFilter($event)">
    </ksc-advance-search-result>
</div>
<!-- SEARCH RESULT END -->
