<div class="row">
  <div class="col-sm-6">
    <nb-card>
      <nb-card-header>
        这是一些简介
      </nb-card-header>
      <nb-card-body>
        <p><span style="font-size: 16px">欢迎进入SmartTeam系统，在这里你可以填写需求文档，设计文档．</span></p>
        <p><span style="font-size: 16px">还可以创建任务并分配给你的伙伴，你也可以将你喜欢的文章或是技术学习新的分享给团队成员．</span></p>
        <p><span style="font-size: 16px">当然你还可以记录自己的备忘录，在也不需要担心记在纸上的信息找不到了．</span></p>
        <p><span style="font-size: 16px">从此以后，恭喜你可以告别手动书写的工作了！美好的一天，希望你工作愉快！</span></p>
        <p><span style="font-size: 16px">如果你有好的idea或者有什么意见请联系我．</span></p>
        <button nbButton [nbPopover]="infoComponent" class="btn btn-hero-info float-left"><i class="nb-email" style="font-size: 30px"></i></button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6">
    <nb-card *ngIf="urlList">
      <nb-card-header>
        我的任务
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let info of urlList">
            <a routerLink="/pages/all-task-management/task-detail-page" [queryParams]="{taskId: info.taskId}">{{ info.url }}</a>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        我的分享贴
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let share of shareList">
          <a routerLink="/pages/technology-share-management/edit-share-page" [queryParams]="{shareId: share.shareId}">{{ share.shareTitle }}</a>
          <i class="nb-trash float-right" style="font-size: 30px;" (click)="deleteShare(share.shareId)"></i>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <nb-card>
      <nb-card-header>
        我的需求
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let requirement of requirementList">
          <a routerLink="/pages/document-management/edit-requirement-page" [queryParams]="{requirementId: requirement.requirementId}">{{ requirement.requirementTitle }}</a>
          <i class="nb-trash float-right" style="font-size: 30px;" (click)="deleteRequirement(requirement.requirementId)"></i>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <nb-card>
      <nb-card-header>
        我的设计
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let design of designList">
          <a routerLink="/pages/document-management/edit-design-page" [queryParams]="{designId: design.designId}">{{ design.designTitle }}</a>
          <i class="nb-trash float-right" style="font-size: 30px;" (click)="deleteDesign(design.designId)"></i>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
