<div class="modal-content" *ngIf="changeReasonObj">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'LEGAL_ENTITY_CHANGE_REASON_SELECTION' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row spbrow data-pointer-row" [hidden]="isRemoveGroup">
            <div class="col-xs-4">
                <label class="datafabric-font-style">{{'FROM' | translate}}</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="changeReasonObj.oldValue" [disabled]="true" />
            </div>
        </div>
        <div class="form-group row spbrow data-pointer-row" [hidden]="isRemoveGroup">
            <div class="col-xs-4">
                <label class="datafabric-font-style">{{'TO' | translate}}</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="changeReasonObj.newValue" [disabled]="true" />
            </div>
        </div>
        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-4">
                <label class="datafabric-font-style" [hidden]="isRemoveGroup">{{'CHANGE_REASON' | translate}}</label>
                <label class="datafabric-font-style" [hidden]="!isRemoveGroup">{{'DELETE_REASON' | translate}}</label>
            </div>
            <div class="col-xs-8">
                <ksc-select2 class="change-reason-control" [data]="crOptions" [value]="changeReasonObj.selectedReasonCode" (valueChanged)="onSelected($event)" [options]="options"></ksc-select2>
            </div>
        </div>
        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-8 col-xs-offset-4" *ngIf="!(changeReasonObj.selectedReasonCode != 40015 && changeReasonObj.selectedReasonCode != 650004 && changeReasonObj.selectedReasonCode != 730002 && changeReasonObj.selectedReasonCode != 740002 && changeReasonObj.selectedReasonCode != 750003)">
                <input type="text" class="form-control" [(ngModel)]="changeReasonObj.selectedReasonName" [disabled]="changeReasonObj.selectedReasonCode != 40015 && changeReasonObj.selectedReasonCode != 650004 && changeReasonObj.selectedReasonCode != 730002 && changeReasonObj.selectedReasonCode != 740002 && changeReasonObj.selectedReasonCode != 750003"
                />
            </div>
            <div class="col-xs-8 col-xs-offset-4" *ngIf="changeReasonObj.selectedReasonCode != 40015 && changeReasonObj.selectedReasonCode != 650004 && changeReasonObj.selectedReasonCode != 730002 && changeReasonObj.selectedReasonCode != 740002 && changeReasonObj.selectedReasonCode != 750003">
                <input type="text" class="form-control" [disabled]="changeReasonObj.selectedReasonCode != 40015 && changeReasonObj.selectedReasonCode != 650004 && changeReasonObj.selectedReasonCode != 730002 && changeReasonObj.selectedReasonCode != 740002 && changeReasonObj.selectedReasonCode != 750003"
                />
            </div>
        </div>
        <div class="form-group row spbrow data-pointer-row">
            <div class="col-xs-4">
                <label class="datafabric-font-style">{{'COMMENT' | translate}}</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="changeReasonObj.comment" />
            </div>
        </div>
    </div>
    <div class="modal-footer remove-role-confirm-modal">
        <button class="btn btn-ok datafab-btn-primary" (click)="save()" [disabled]="!changeReasonObj.selectedReasonCode || (changeReasonObj.selectedReasonCode == 40015 && !changeReasonObj.selectedReasonName)">{{'WORKFLOW_MANAGEMENT_OK' | translate}}</button>
        <button class="btn datafab-btn-secondary " (click)="skip()">{{'WORKFLOW_MANAGEMENT_SKIP' | translate}}</button>
    </div>
</div>
